import 

.react-datepicker-wrapper {
  width: 100%;

}

.custom-datepicker-button {
  width: 150px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  cursor: pointer;

  background-image: url("../assets/icons/icon달력.png"); /* 경로는 프로젝트에 맞게 수정 */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;

 
}

@media (max-width: 380px) {
  .custom-datepicker-button {
    width: 350px;
  }
}
.custom-datepicker-button span {
  font-size: 14px;
}


